/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.idea
/.idea/*
.htaccess
/public/.htaccess
/config/database.php
/public/fonts/vendor/@fortawesome/fontawesome-free/.htaccess
